/* PriceFilter.module.css */

.filterContainer {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    margin: 50px auto 30px;
    /* Adds space from navbar */
    max-width: 600px;
    /* Limits the width to make it look neat on large screens */
    width: 90%;
    /* Makes it responsive */
}

.filterRow {
    display: flex;
    justify-content: space-between;
}

.filterRow .form-group {
    margin-bottom: 15px;
}

.filterRow button {
    width: 100%;
}

/* Ensuring the Price Filter container stays centered */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* Full height to center vertically */
}

h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}